body {
  text-align: center;
  margin: 0;
  background-color: #e0e5ec;
  font-family: "Koruri", -apple-system, BlinkMacSystemFont, sans-serif;
}
a{
  color: #1a1d22;
}

@font-face {
  font-family: "Koruri";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/Koruri-Regular.ttf") format("truetype");
}
div.box{
  width: 88vw;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}
p.name{
  font-size: 2em;
  line-height: 1.5em;
}
p.description{
  margin: 0;
  font-size: 1.5em;
  color: #1a1d22;
  text-decoration: bold;
  text-align: left;
}
.radio {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.radio_label {
  display: inline-block;
  line-height: 60px;
  width: 28vw;
  margin: 4vw;
  border-radius: 7.5px;
  background:#e0e5ec;
  box-shadow:  8px 8px 8px #a3b1cf,
               -8px -8px 8px #ffffff;
  color: #1a1d22;
}
.radio:checked + .radio_label {
  background:#e0e5ec;
  box-shadow:  inset 8px 8px 8px #a3b1cf,
               inset -8px -8px 8px #ffffff;
  color: #1a1d22;
}
.radio:focus + .radio_label {
  outline: none;
}
input.input{
  outline: none;
  margin: 0;
  margin-bottom: 4vh;
  font-size: 2em;
  padding-left: 3vw;
  color: #1a1d22;
  border: 0;
  width: 85vw;
  height: 60px;
  border-radius: 7.5px;
  background:#e0e5ec;
  box-shadow:  inset 8px 8px 8px #a3b1cf,
               inset -8px -8px 8px #ffffff;
}
button{
  outline: none;
  margin: 0;
  margin-top: 3vh;
  font-size: 2.5em;
  color: #ffffff;
  border: 0;
  width: 88vw;
  height: 90px;
  border-radius: 100vh;
  background:linear-gradient(45deg,#62beec,#4aeab5);
  box-shadow:  8px 8px 8px #a3b1cf,
               -8px -8px 8px #ffffff;
}
button:active{
  border-radius: 100vh;
  font-size: 2.45em;
  box-shadow: inset 8px 8px 8px #a3b1cf,
              inset -8px -8px 8px #ffffff;

}
#typeform{
  display: flex;
  justify-content: center;
}
#text{
  text-align: left;
  position: absolute;
  margin: 0;
  bottom: 0;
  font-size: 1.5em;
  height: 5em;
  width: 100%;
  background-color: hsl(0, 0%, 10%);
  color: #ffffff;
}
div.line{
  margin-top: 16vh;
  border-bottom: 2px solid #1a1d22;
}